    <cit:CI_Responsibility>
      <cit:role>
        <cit:CI_RoleCode codeList="https://standards.iso.org/iso/19115/resources/Codelists/cat/codelists.xml#CI_RoleCode" codeListValue="{{ role_codelist_value }}">{{ role}}</cit:CI_RoleCode>
      </cit:role>
      <cit:party>
        <cit:CI_Organisation>
          <!-- name or logo is mandatory by Schematron-enforced constraint -->
          <cit:name>
            <gco:CharacterString></gco:CharacterString>
          </cit:name>
          <cit:contactInfo>
            <cit:CI_Contact>
              <cit:contactInstructions>
                <gco:CharacterString></gco:CharacterString>
              </cit:contactInstructions>
              <cit:phone>
                <cit:CI_Telephone>
                  <gco:CharacterString></gco:CharacterString>
                </cit:CI_Telephone>
              </cit:phone>
              <cit:address>
                <cit:CI_Address>
                  <cit:city>
                    <gco:CharacterString></gco:CharacterString>
                  </cit:city>
                  <cit:country>
                    <gco:CharacterString></gco:CharacterString>
                  </cit:country>
                  <cit:electronicMailAddress>
                    <gco:CharacterString></gco:CharacterString>
                  </cit:electronicMailAddress>
                </cit:CI_Address>
              </cit:address>
            </cit:CI_Contact>
          </cit:contactInfo>
        </cit:CI_Organisation>
      </cit:party>
    </cit:CI_Responsibility>