<?xml version="1.0" encoding="UTF-8"?>
{% import 'charstring.j2' as cs %}
<mdb:MD_Metadata 
    xmlns:mdb="https://standards.iso.org/iso/19115/-3/mdb/1.0" 
    xmlns="https://standards.iso.org/iso/19115/-3/mdb/1.0" 
    xmlns:cit="https://standards.iso.org/iso/19115/-3/cit/1.0" 
    xmlns:dqc="https://standards.iso.org/iso/19157/-2/dqc/1.0" 
    xmlns:gco="https://standards.iso.org/iso/19115/-3/gco/1.0" 
    xmlns:gex="https://standards.iso.org/iso/19115/-3/gex/1.0" 
    xmlns:lan="https://standards.iso.org/iso/19115/-3/lan/1.0" 
    xmlns:mcc="https://standards.iso.org/iso/19115/-3/mcc/1.0" 
    xmlns:mri="https://standards.iso.org/iso/19115/-3/mri/1.0" 
    xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="https://standards.iso.org/iso/19115/-3/mdb/1.0/mdb.xsd">
  <mdb:contact>
  {% set contact = record['contact']['main'] %}
  {% set role = 'pointOfContact; contact' %}
  {% set role_codelist_value = 'CI_RoleCode_pointOfContact' %}
  {% include "contact.j2" %}
  </mdb:contact>
  <mdb:dateInfo>
    <cit:CI_Date>
      <cit:date>
        {% set datestamp = record['metadata']['datestamp']|normalize_datestring %}
        {% if datestamp|length > 11 %}
        <gco:DateTime>{{ datestamp }}</gco:DateTime>
        {% else %}
        <gco:Date>{{ datestamp }}</gco:Date>
        {% endif %}        
      </cit:date>
      <cit:dateType>
        <cit:CI_DateTypeCode codeList="https://standards.iso.org/iso/19115/resources/Codelist/cat/codeLists.xml#creation" codeListValue="Creation" />
      </cit:dateType>
    </cit:CI_Date>
  </mdb:dateInfo>
  <mdb:metadataStandard>
    <cit:CI_Citation>
      <cit:title>
        <gco:CharacterString></gco:CharacterString>
      </cit:title>
      <cit:edition>
        <gco:CharacterString></gco:CharacterString>
      </cit:edition>
    </cit:CI_Citation>
  </mdb:metadataStandard>
  {% if record['metadata']['parentidentifier'] %}
  <mdb:parentMetadata>
    <cit:CI_Citation>
      <cit:identifier>
        <mdb:MD_Identifier>
          <mdb:code>
            <gco:CharacterString>{{ record['metadata']['parentidentifier'] }}</gco:CharacterString>
          </mdb:code>
        </mdb:MD_Identifier>
      </cit:identifier>
    </cit:CI_Citation>
  </mdb:parentMetadata>
  {% endif %}
  <mdb:defaultLocale>
    <lan:PT_Locale>
      <gmd:country>
        ?? CountryCodeList ??
      </gmd:country>
      <lan:language>
        ?? LanguageCodeList ??
      </lan:language>
      <lan:characterEncoding>
        <lan:MD_CharacterSetCode codeList="https://standards.iso.org/iso/19115/resources/Codelist/lan/CharacterSetCode.xml" codeListValue="utf8">UTF-8</lan:MD_CharacterSetCode>
      </lan:characterEncoding>
    </lan:PT_Locale>
  </mdb:defaultLocale>
  <mdb:metdataScope>
    <mdb:resourceScope>
      <mcc:MD_MetadataScope>
        <gco:CharacterString></gco:CharacterString>
      </mcc:MD_MetadataScope>
    </mdb:resourceScope>
    <mdb:name>
      <gco:CharacterString></gco:CharacterString>
    </mdb:name>
  </mdb:metdataScope>
  <mdb:metadataIdentifier>
    <mdb:MD_Identifier>
      <mdb:code>
        <gco:CharacterString></gco:CharacterString>
      </mdb:code>
      <mdb:description>
        <gco:CharacterString></gco:CharacterString>
      </mdb:description>
      <mdb:authority>
        <cit:CI_Citation>
          <cit:citedResponsibleParty>
            {% set contact = record['contact']['main'] %}
            {% set role = 'pointOfContact; contact' %}
            {% set role_codelist_value = 'CI_RoleCode_pointOfContact' %}
            {% include "contact.j2" %}
          </cit:citedResponsibleParty>
        </cit:CI_Citation>
      </mdb:authority>
    </mdb:MD_Identifier>
  </mdb:metadataIdentifier>
  <mdb:identificationInfo>
    <mri:MD_DataIdentification>
      <mri:citation>
        <cit:CI_Citation>
          <cit:title>
            <gco:CharacterString>Exploration Licences for Minerals</gco:CharacterString>
          </cit:title>
          <!-- mandatory (dataType= creation) by constraint enforced by Schematron rule -->
          <cit:date>
            <cit:CI_Date>
              <cit:date>
                <gco:DateTime>1993-01-01T12:00:00</gco:DateTime>
              </cit:date>
              <cit:dateType>
                <cit:CI_DateTypeCode codeList="https://standards.iso.org/iso/19115/resources/Codelist/cat/codeLists.xml#CI_DateTypeCode" codeListValue="publication">publication</cit:CI_DateTypeCode>
              </cit:dateType>
            </cit:CI_Date>
          </cit:date>
        </cit:CI_Citation>
      </mri:citation>
      <mri:abstract>
        <gco:CharacterString>Location of all current mineral Exploration Licences issued under the Mining Act, 1971. Exploration Licences provide exclusive tenure rights to explore for mineral resources for up to a maximum of 5 years. Comment is sought on applications for Exploration Licences from numerous sources before granting. Exploration programs are subject to strict environmental and heritage conditions. Exploitation of identified resources shall be made under separate mineral production leases.</gco:CharacterString>
      </mri:abstract>
      <!-- mandatory since MD_MetadataScope is not specified, and defaults to 'dataset' enforced by Schematron rule -->
      <mri:topicCategory>
        <mri:MD_TopicCategoryCode>boundaries</mri:MD_TopicCategoryCode>
      </mri:topicCategory>
      <!-- a bounding box is required because the mdb:MD_MetadataScope is not specified; enforced by Schematron rule-->
      <mri:extent>
        <gex:EX_Extent>
          <gex:description>
            <gco:CharacterString>location description</gco:CharacterString>
          </gex:description>
          <gex:geographicElement>
            <gex:EX_GeographicBoundingBox>
              <gex:extentTypeCode>
                <gco:Boolean>false</gco:Boolean>
              </gex:extentTypeCode>
              <gex:westBoundLongitude>
                <gco:Decimal>129.0</gco:Decimal>
              </gex:westBoundLongitude>
              <gex:eastBoundLongitude>
                <gco:Decimal>141.0</gco:Decimal>
              </gex:eastBoundLongitude>
              <gex:southBoundLatitude>
                <gco:Decimal>-38.5</gco:Decimal>
              </gex:southBoundLatitude>
              <gex:northBoundLatitude>
                <gco:Decimal>-26.0</gco:Decimal>
              </gex:northBoundLatitude>
            </gex:EX_GeographicBoundingBox>
          </gex:geographicElement>
        </gex:EX_Extent>
      </mri:extent>
      <!-- mandatory if resource contains textual content (has to be enforced by inspection) -->
      <mri:defaultLocale>
        <lan:PT_Locale>
          <lan:language>
            <lan:LanguageCode codeList="https://standards.iso.org/iso/19115/resources/Codelist/lan/LanguageCode.xml" codeListValue="eng">English</lan:LanguageCode>
          </lan:language>
          <lan:characterEncoding>
            <lan:MD_CharacterSetCode codeList="https://standards.iso.org/iso/19115/resources/Codelist/lan/CharacterSetCode.xml" codeListValue="utf8">UTF-8</lan:MD_CharacterSetCode>
          </lan:characterEncoding>
        </lan:PT_Locale>
      </mri:defaultLocale>
    </mri:MD_DataIdentification>
  </mdb:identificationInfo>
</mdb:MD_Metadata>